{% extends 'apppaciente/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'calendar' %} Minhas Agendas | Consultas
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
		<form class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					{% bootstrap_field form.pesquisa  %}
				</div>	
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<br>
					<button type="submit" class="btn btn-success btn-md"  style="width: 100%;">{% bootstrap_icon 'search' %} Buscar</button>
				</div>						
			</div>
		</form>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<th>Fisioterapeuta</th>
				<th>Data</th>
				<th>Hora</th>
				<th class="text-center">Realizada</th>
			</thead>

			<tbody>
				{% for agenda in object_list %}
					<tr>
						<td>
							{{ agenda.fisioterapeuta.nome }}<br>
							<a href="https://api.whatsapp.com/send?phone=55{{ agenda.fisioterapeuta.celular }}" target="_blank">
                            	<small class="badge">{% bootstrap_icon 'comment' %} {{ agenda.fisioterapeuta.celular }}</small>
							</a>
						</td>
						<td>
							{{ agenda.data|date:"d/m/Y" }}
						</td>
						<td>
							{{ agenda.hora|date:"H:i" }}	
						</td>
						<td class="text-center">
							{% if agenda.realizado %}
								<label class="badge border border-primary text-primary bg-light">SIM</label>
							{% else %}
								NÃO
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<th colspan="4">
					Total de registros: {{ object_list|length }}
				</th>
			</tfoot>
		</table>
	</div>
{% endblock %}