{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}     
      {% comment %} <img src="{% static 'core/img/logo.jpg' %}"
      class="img-fluid" style="max-width: 220px;"> {% endcomment %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <div class="container-fluid">
            {% if request.user.tipo == 'FISIOTERAPEUTA' %}
                  <div class="row">
                        <div class="col-md-12">
                              <!-- Conteúdo da primeira coluna -->
                              <div class="panel panel-default">
                                    <div class="panel-heading"><b>Atenção fisioterapeuta</b></div>
                                    <div class="panel-body">
                                          <b>Agendas para hoje: <small class="badge badge-info">{{ request.user.qtd_agendas_hoje }}</b></small><br>
                                          <b>Agendas para amanhã: <small class="badge badge-info">{{ request.user.qtd_agendas_amanha }}</b></small><br>
                                          <b>Agendas canceladas: <small class="badge badge-info">{{ request.user.qtd_agendas_canceladas }}</b></small> <br>
                                          <b>Agendas realizadas: <small class="badge badge-info">{{ request.user.qtd_agendas_realizadas }}</b></small>
                                    </div>
                              </div>
                        </div>
                  </div>
            {% endif %}       
            <div class="row">
                  <div class="col-md-12">
                        <!-- Conteúdo da sexta coluna -->
                        <div class="panel panel-default">
                              <div class="panel-heading"><b>Avisos</b></div>
                              <div class="panel-body">
                                    {% include 'aviso//avisos.html' %}
                              </div>
                        </div>
                  </div>
            </div>
      </div>     
{% endif %}

{% endblock %}